body{
  font-family: sans-serif;
 background-color:#b4d8fa;

  
}
h1{
width:500px;
text-align:center;
margin:30px auto;
}
p{
margin-bottom:15px;
font-size:20px;
}
img{
width:250px;
margin:0 10px;
border-radius:15px;
}

div{
    text-align: center;
}